{% extends "base.html" %}

{% block title %}Forms{% endblock %}

{% block body %}


<div class="system-form mt-5">
    <div class="form-name">
        <h4>Date Recovery Request</h4>
    </div>

    <form action="/requests/create-request" method="POST" autocomplete="off">
        <div class="user-side">
            <div class="user-side-label">
                User side
            </div>

            <input type="hidden" name="sr_process" value="DRR">
            <input type="hidden" name="sr_year" value="{{ 'now'| date('y') }}">
            <input type="hidden" name="sr_rqstr" value="{{ current_user.full_name }}">
            <input type="hidden" name="sr_rqstr_id" value="{{ current_user.pet_id }}">
            <input type="hidden" name="sr_rqstr_dprtmnt" value="{{ current_user.department }}">
            <input type="hidden" name="sr_date_request" value="{{ 'now'| date('Y/m/d') }}">
            <input type="hidden" name="sr_mode" value="Web">

            <div class="user-side-form">
                <div class="user-side-row">
                    <div class="div1">
                        <h6>Requested by</h6>
                    </div>
                    <div class="div3">
                        {{ current_user.full_name }}
                    </div>
                    <div class="div1">
                        <h6>Date Requested</h6>
                    </div>
                    <div class="div1">
                        <label for="">{{ "now"| date('m/d/Y')}}</label>
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>Department</h6>
                    </div>
                    <div class="div3">
                        {{ current_user.department }}
                    </div>
                    <div class="div1">
                        <h6>Group</h6>
                    </div>
                    <div class="div1">
                        <input type="text" name="sr_grp" class="group-input">
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>Site</h6>
                    </div>
                    <div class="div3">
                        <div class="site">
                            <input class="" type="radio" name="sr_site" id="HO" value="H.O">
                            <label class="" for="HO">Head Office</label>

                            <input class="" type="radio" name="sr_site" id="BO" value="B.O">
                            <label class="" for="BO">Branch Office</label>
                        </div>
                    </div>
                    <div class="div1">
                        <h6>Local</h6>
                    </div>
                    <div class="div1">
                        <input type="number" name="sr_local" id="" class="local-number">
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>File </h6>
                    </div>
                    <div class="div3">
                        <select name="sr_rqst" id="">
                            <option value="">File Server</option>
                            {% for file_server_list in file_server %}
                            <option value="{{ file_server_list.server_name }}">{{ file_server_list.server_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="div1">
                        <h6>Date to be Recovered</h6>
                    </div>
                    <div class="div1">
                        <input type="text" name="sr_date_set_drr">
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>Filename</h6>
                    </div>
                    <div class="div5">
                        <textarea name="sr_filename" id="" cols="100" rows="2"></textarea>
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>Location of file? (Directory)</h6>
                    </div>
                    <div class="div5">
                        <textarea name="sr_filelocation" id="" cols="100" rows="2"></textarea>
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>Restore file to?</h6>
                    </div>
                    <div class="div5">
                        <textarea name="sr_restoreto" id="" cols="100" rows="2"></textarea>
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>Overwrite original file? </h6>
                    </div>
                    <div class="div5">
                        <div class="overwrite">
                            <input class="" type="radio" name="sr_overwrite" id="Yes" value="Yes">
                            <label class="" for="Yes">Yes</label>

                            <input class="" type="radio" name="sr_overwrite" id="No" value="No">
                            <label class="" for="No">No</label>
                        </div>
                    </div>
                </div>

                <div class="user-side-row">
                    <div class="div1">
                        <h6>Reason(s)</h6>
                    </div>
                    <div class="div3">
                        <textarea name="sr_reason" id="" cols="50" rows="8"></textarea>
                    </div>
                    <div class="div2">
                        <div class="signatures">
                            <div class="sig-box text-center">
                                <!--
                                            Requestor to Approver Signature/Stamp
                                        -->
                                <div class="sig-label">
                                    Approver
                                </div>
                                <div class="signature">
                                    <!--
                                    <div class="circle ">
                                        <div class="dept text-center">PET MIS</div>
                                        <div class="sig-divider"></div>
                                        <div class="text-center">
                                            08/08/19
                                        </div>
                                        <div class="sig-divider"></div>
                                        <div class="text-center">W.Leonardo</div>
                                    </div>

                                    <div class="code">DS-1234-56</div>
                                    -->
                                </div>
                                <div class="sig-signdate">
                                    Sign/Date
                                </div>
                                <div class="sig-signdate">
                                    Manager
                                </div>
                            </div>
                            <div class="sig-box text-center">
                                <!--
                                                Requestor to Checker Signature/Stamp
                                            -->
                                <div class="sig-label">
                                    Checker
                                </div>
                                <div class="signature">
                                    <!--
                                    <div class="circle ">
                                        <div class="dept text-center">PET MIS</div>
                                        <div class="sig-divider"></div>
                                        <div class="text-center">
                                            08/08/19
                                        </div>
                                        <div class="sig-divider"></div>
                                        <div class="text-center">W.Leonardo</div>
                                    </div>

                                    <div class="code">DS-1234-56</div>
                                    -->
                                </div>
                                <div class="sig-signdate">
                                    Sign/Date
                                </div>
                                <div class="sig-signdate">
                                    Supervisor
                                </div>
                            </div>

                            <div class="sig-box text-center">
                                <!--
                                                    Requestor to End User Signature/Stamp
                                                -->
                                <div class="sig-label">
                                    Prepared
                                </div>
                                <div class="signature">
                                    <!--
                                    <div class="circle ">
                                        <div class="dept text-center">PET MIS</div>
                                        <div class="sig-divider"></div>
                                        <div class="text-center">
                                            08/08/19
                                        </div>
                                        <div class="sig-divider"></div>
                                        <div class="text-center">W.Leonardo</div>
                                    </div>

                                    <div class="code">DS-1234-56</div>
                                    -->
                                </div>
                                <div class="sig-signdate">
                                    Sign/Date
                                </div>
                                <div class="sig-signdate">
                                    End-user
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area">
            <button class="btn btn-success loading">Submit</button>
        </div>

    </form>
</div>
{% endblock %}