{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}


<style>
    @media(max-width: 820px) {

        th:last-child,
        td:last-child {
            display: none;
        }
    }

    @media(max-width: 720px) {

        th:nth-last-child(2),
        td:nth-last-child(2) {
            display: none;
        }
    }
</style>

<div class="row">

    <div class="col-12 mt-5">
        <div class="card bg-3">
            <div class="card-body">
                <h4>
                    Request Monitoring
                </h4>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-12 col-lg-6 col-xl-6">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5>Newly Created</h5>

                        <h4>
                            <a href="/home/NewlyCreated">
                                <span class="badge badge-primary badge-pill">{{ newly_created }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card bg-warning">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5>Assigned</h5>

                        <h4>
                            <a href="/home/Assgined">
                                <span class="badge badge-dark badge-pill">{{ assigned }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5>For Checking</h5>

                        <h4>
                            <a href="/home/ForChecking">
                                <span class="badge badge-primary badge-pill">{{ for_checking }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card bg-success">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="text-white">Work in Progress</h5>

                        <h4>
                            <a href="/home/WorkinProgress">
                                <span class="badge badge-dark badge-pill">{{ workinprogress }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5>For Approval</h5>

                        <h4>
                            <a href="/home/ForApproval">
                                <span class="badge badge-primary badge-pill">{{ for_approval }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card bg-info">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="text-white">Done</h5>

                        <h4>
                            <a href="/home/Done">
                                <span class="badge badge-dark badge-pill">{{ done }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5>New Request</h5>

                        <h4>
                            <a href="/home/NewRequest">
                                <span class="badge badge-primary badge-pill">{{ new_request }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 mt-5">
                <div class="card bg-primary">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="text-white">Closed</h5>

                        <h4>
                            <a href="/home/Closed">
                                <span class="badge badge-dark badge-pill">{{ closed }}</span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-6 mt-5">
        <div class="card">
            <div class="card-header bg-1">
                <h5>Recent Update</h5>
            </div>
            <div class="card-body">

                <div class="list-group">
                    {% for request in last5request %}
                    <a href="/requests/view/{{ request.sr_id}}" class="list-group-item list-group-item-action">
                        
                        
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ request.sr_process }}-{{ "%04d"|format(request.sr_number) }}-{{ request.sr_year }}</h5>
                            <small>{{ request.wrklg_date | date('m/d/Y H:i') }}</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if request_data != "" %}

<div class="row mt-5">

    <div class="col-12">
        <div class="card">
            <div class="card-header bg-0 pt-3">
                <h4>My Request {{ status }}</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th>Reference No.</th>
                            <th>Request Date</th>
                            <th>Details</th>
                            <th>Status</th>
                            <th>Assigned to</th>
                        </tr>
                    </thead>
                    <tbody class=" logs">
                        {% for data in request_data %}
                        <tr>
                            <td>
                                <a href="/requests/view/{{ data.0}}">
                                    {{ data.1}}-{{ "%04d"|format(data.2) }}-{{ data.3}}
                                </a>
                            </td>

                            <td>
                                {{ data.4}}
                            </td>
                            <td>
                                {{ data.5}}
                            </td>
                            <td>
                                {{ data.6}}
                            </td>
                            <td>
                                {{ data.7}}
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <nav aria-label="Page navigation example">

                    {% set pages = request_page / 10 %}

                    {% set total_pages = pages|round %}

                    {% if total_pages != 0 %}
                    <ul class="pagination page_list justify-content-center pt-3">
                        {% if current_page > 1%}

                        {% set prev_page = current_page - 1%}

                        {% if prev_page != 0 %}
                        <li class='page-item '><a class='page-link'
                                href="/home/{{ status |replace({' ': ''}) }}/{{ prev_page }}">Previous</a></li>
                        {% endif%}

                        {% endif%}

                        {% set range = 2%}

                        {% set prev_pages = current_page - range %}

                        {% if prev_pages == 0 %}

                        {% set prev_pages = prev_pages + 1 %}

                        {% endif%}

                        {% if (prev_pages > 0) or ( prev_pages == 1)  %}

                        {% for page in prev_pages..current_page %}

                        {%if page != current_page %}
                        <li class='page-item '><a class='page-link'
                                href="/home/{{ status |replace({' ': ''}) }}/{{ page }}">{{page}}</a></li>

                        {% endif%}
                        {% endfor %}
                        {% endif%}

                        {% for page in 1..total_pages %}

                        {%if page == current_page %}
                        <li class='page-item disabled'> <b class='page-link bg-success'>{{page}}</b> </li>

                        {% endif%}
                        {% endfor %}

                        {% set next_pages = current_page + range %}

                        {% if next_pages > total_pages %}

                        {% set next_pages = next_pages - 1 %}

                        {% endif%}

                        {% if (total_pages > next_pages) or (total_pages == next_pages) %}
                        {% for page in current_page..next_pages %}
                        {%if page != current_page %}
                        <li class='page-item '><a class='page-link'
                                href="/home/{{ status |replace({' ': ''}) }}/{{ page }}">{{page}}</a></li>

                        {% endif%}
                        {% endfor %}
                        {% endif%}



                        {% if (total_pages > current_page)  %}

                        {% set next_page = current_page + 1%}

                        <li class='page-item '><a class='page-link'
                                href="/home/{{ status |replace({' ': ''}) }}/{{ next_page }}">Next</a></li>

                        {% endif%}

                    </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}


{% block javascript %}
<script>
    /*
    var controllerData = "/requests/myrequestdata";
    var filter_name = '{{ current_user.full_name}}';
    var controllerPage = "/requests/myrequestdatapage";

    $(document).ready(function () {
        var id, start, limit, page, pages, page_list, timeout;
        start = 0;
        limit = 10;

        $(document).on('click', '.page-link', function () {

            id = $(this).data('page');
            getData(id, start, limit, filter_name, controllerData);
            getPage(id, start, limit, filter_name, controllerPage);
            $('.page_list').empty();
            $('.table-list').show();
            $('.view-data').hide();
        });

        if (id == null) {
            id = 1;
            getData(id, start, limit, filter_name, controllerData);
            getPage(id, start, limit, filter_name, controllerPage);
        }
    });

    function tbl_info(datas) {

        $('tbody.logs').empty();

        for (let i = 0; i < datas.length; i++) {

            var myTR = $("<tr ></tr>");

            var requestInfo = {
                request_id: datas[i][0],
                process: datas[i][1],
                referenceNo: datas[i][1] + "-" + pad(datas[i][2], 4) + "-" + datas[i][3],
                dateNeeded: datas[i][4],
                details: datas[i][5],
                status: datas[i][6],
                inCharge: datas[i][7]
            };



            var url = "/requests/view/" + requestInfo.request_id;

            //var cls = img[i][1] + "/" + img[i][0];

            myTR.append("<td class='modal-name data-view' data-view='" + datas[i][0] +
                "' onclick='linkup(this)' value='/requests/view/" + requestInfo.request_id +
                "' '>" + requestInfo.referenceNo +
                "</td> <td class='modal-account'>" + requestInfo.dateNeeded +
                "</td> <td class='modal-account'>" + requestInfo.details.substr(0, 50) +
                "...</td> <td class='modal-account hide520px'>" + requestInfo.status +
                "</td> <td class='modal-account hide720px'>" + requestInfo.inCharge +
                "</td>");

            $('tbody.logs').append(myTR);

        }
    }
    */
</script>
{% endblock %}